[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
coverage-badge = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
pytest-pylint = "*"
coverage = "*"
pytest-cov = "*"
pycodestyle = "*"
pytest-pycodestyle = "*"
coverage-badge = "*"

[requires]
python_version = "3.6"
